
.ListArea{
    width: 500px;
    height:100%;
    border-left: 1px solid #CCDAE1;
}
.searchbar {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 30px;
    background-color: white;    
}
.searchbar input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    margin-left: 20px;
    
}