@import 'bulma/css/bulma.css';

.App{
  display: flex;
  width:90vw;
  padding:30px;
  height: 100vh;
}

/*Navbar*/

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px ;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #527072;
  transition: all 0.6s ease-in-out;
}

.listItems{
  list-style: none;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
  color: white;
}
.listItems:hover{
  background-color: rgb(229, 229, 229);
  color: black;

}


.ChatArea{
  height:100%;
  flex:1;
  border-left: 1px solid #CCDAE1;
}