.App{
  display: flex;
  align-items: center;
  width:90vw
}

/*Navbar*/

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 30px;
  background-color: #527072;
  transition: all 0.6s ease-in-out;
}

.listItems{
  list-style: none;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
  color: white;
}
.listItems:hover{
  background-color: rgb(229, 229, 229);
  color: black;

}

.ListArea{
  width: 500px;
  height:90vh;
  border: 1px solid black;

}

.ChatArea{
  height: 90vh;
  flex:1;
  border: 1px solid black;
}