.App{
  display: flex;
  align-items: center;
}

/*Navbar*/

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 30px;
  background-color: #527072;
  transition: all 0.6s ease-in-out;
}
nav:hover{
width: 100px;
}
.listItems{
  list-style: none;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
}
.listItems:hover{
  background-color: rgb(229, 229, 229);
  color: black;

}